<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>settings - brainTrain</title>
        <meta name="description" content="basic settings">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/settings/style.css" rel="stylesheet">

        {% include "main_html.html" %}
    </head>
    {% include "navigationbar.html" %}
    <body>

        <div id="win"></div>
        <script src="/static/settings/onLoad.js"></script>
    </body>
</html>
